<nav class="cd-side-navigation">
  <ul>
    <li>
      <a href="<%= root_path %>" class="selected" data-menu="index">
        <i class="fa fa-info-circle"></i>
      About         </a>
    </li>
    <li>
      <a href="#0" data-menu="services">
        <i class="fa fa-ticket"></i>
        Get Tickets
      </a>
    </li>
    <li>
      <a href="<%= basket_path %>" data-menu="projects">
        <i class="fa fa-shopping-cart"></i>
        Checkout
      </a>
    </li>
    <li>
      <a href="#0" data-menu="contact">
        <i class="fa fa-shopping-cart"></i>
        Contact
      </a>
    </li>
  </ul>
  </nav> <!-- .cd-side-navigation -->